* {
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.collapse {
  display: none;
}

.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
		
 .flex-item {
    width: 20em;
    height: 50em;
    flex-grow: 1;
}

[aria-hidden="true"] {
  display: none;
  visibility: hidden;
}

.item__image--responsive {
  width: 100%;
  height: auto;
}

/* Header */
.header__text {
  width: 100%;
  z-index: 0;
}
  
.header__title {
  min-width: 25%;
  z-index: 100;
}

.header__quote {
  min-width: 75%;
  text-align: right;
  z-index: 100;
  position: relative;
  padding-right: 2em;
}

.item__details {
  clear: both;
}

.item__detail {
  padding: .1em;
  margin: .25em;
}

.item__details--icons {
  margin: .8em;
  font-size: 2em;
}

.item__details--icon {
  margin-left: .5em;
  margin-right: .5em;
  display: inline;
}-

/* Footer */
.who-is__pic {
  display: inline-block;
}

 .who-is__person {
  display: inline-block;
  vertical-align: top;
}  
  
.who-is__person-detail {
  margin: .5em;
}

#form__add-new label {
display: block;
}

@media only screen and (min-width: 30.1em) {
  /* Navigation */
  .menu__bar {
    text-align: center;
    margin-bottom: 1em;
  }

  .menu {
  padding: .5em;
  margin: 0px;
  }

  .menu__item {
    display: inline;
    padding: .5em;
  }

  .menu__item--link {
    padding: 1em;
  }  
  
  /* Filters */
  .filters {
    text-align: center;
    margin-bottom: 1em;
  }

  .filter-menu {
    padding: .25em;
  }

  .filter-menu__item {
    display: inline;
    /*padding: 1em;*/
  }

  .filter-menu__input {
    height: 1.5em;
    /*width: 12em;*/
  }

  .filter-menu__button {
    clear: both;
    padding: .75em;
  }
}

@media screen and (max-width: 30em)
{
  .header__quote {
    display: none;
  }   
  
  /* Filters, Menu */
  .filter_menu,
  #main-menu ul {
    width: 100%;
    border-radius: 0;
  }
  
  .filter-menu__item,
  #main-menu li {
    position:relative;
    width:100%;
    box-sizing:border-box;
    text-align: center;
    border-top:1px solid rgba(255,255,255,0.3);
  }
  
  .filter-menu__item.full-width,
  #main-menu li.full-width {
    position: relative;
  }
  
  #main-menu li div.column {
    width: auto;
    border: none;
  }  
   
  /* Footer */ 
  .who-is__pic {
    display: none;
  } 
}

@media screen and (min-width: 25em) {  /*400px*/
  .header__text {
    height: 10em;
  }
}

@media screen and (min-width: 55.3125em) {  /*885px*/
  .header__text {
    height: 20em;
  }
}

@media screen and (min-width: 81.25em) {  /*1300px*/
  .header__text {
    height: 30em;
  }
}

@media screen and (min-width: 109.75em) {  /*1750px*/
  .header__text {
    height: 40em;
  }
}

