body {
  background: #FFF5E7;
}

#player {
  border: 3px solid #918067;
}

button {
  background-color: #B3CCDE;
  color: #5E574C;
}

#player__button--bar {
  border: 1px solid #918067;
  background: #B3CCDE;
}

#player__button--progress {
    background: #587A91;
}



