body {
  font-family: Bellota, Geneva, sans-serif;
  background-color: #FFF;
  font-size: 1.1em;
  /*background-image: url(../images/headerImg.JPG);
  background-repeat: no-repeat;
  background-color: #345D5E;
  background-blend-mode: multiply;
  background-size: 100%; */
}

/* elements */
h1,h2,h3,h4,h5,h6 {
  color: #5DA9AB;
}

 /* Header */
.header__text {
  background-image: url(../images/btlCtrheaderImg.JPG);
  background-color: #345D5E;
  background-size: 100%;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

/* Navigation */
  .menu__bar {
    font-size: 1.5em;
    font-weight: bold;
    background-color: #345D5E;
  }

  .menu__item--link {
    text-decoration: none;
    color:  #C0E2E3;
  }

   /* Filters */
  .filters {
  font-size: 1.3em;
    font-weight: bold;
    background-color: #5DA9AB;
  }

  .filter-menu__item {
    color: #505E5E;
  }

  .filter-menu__input {
    font: inherit;
    font-size: smaller;
  }

   .filter-menu__button {
    font: inherit;
    background-color: #345D5E;
    color: #C0E2E3;
  }

  /* Item */
  .item {
    border-top: solid 1.5em #345D5E;
    background-color: #C0E2E3;
  }

  .item__detail {
    font-size: 1em;
    font-weight: bold;
  }

  .item__detail--year {
    font-size: 1.2em;
  }

  /*  Icons */
  .item__details--icon-link,
  .item__details--icon-link--color {
    color: #000;
    text-decoration: none;
  }

  /* Footer */
  .who-is {
    border-top: solid .1em #345D5E;
    margin-top: .3em;
  }

@media only screen and (min-width: 30.1en) and (max-width: 56.25em) {

  /* Header */
  .header__quote-author {
    font-style: italic;
  }

    .item__detail--title {
    font-size: 1.25em;
    color: #5DA9AB;
  }
}

@media screen and (max-width: 30em)
{
  .header__quote {
    display: none;
  }

    .item__detail--title {
    font-size: 1em;
    font-style: bolder;
    color: #5DA9AB;
  }
}

#form__delete {
  visibility: hidden;
}

#form__add-new {
  visibility: hidden;
}
