/* clearfix */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* icons */
@font-face {
	font-family: 'icomoon';
	src:url('../assets/fonts/icomoon.eot?-fv4k1l');
	src:url('../assets/fonts/icomoon.eot?#iefix-fv4k1l') format('embedded-opentype'),
		url('../assets/fonts/icomoon.ttf?-fv4k1l') format('truetype'),
		url('../assets/fonts/icomoon.woff?-fv4k1l') format('woff'),
		url('../assets/fonts/icomoon.svg?-fv4k1l#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
  margin: 1px;
	content: "\ea8d";
}

.icon-twitter2:before {
  margin: 1px;
	content: "\ea92";
}

.icon-github:before {
  margin: 1px;
	content: "\eab1";
}

.icon-linkedin:before {
  margin: 1px;
	content: "\eac8";
}


/* Fonts */
@font-face {
     font-family: 'Bellota';
     src: url('../fonts/bellota/Bellota-Regular.otf') format('opentype');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'Bellota';
     src: url('../fonts/bellota/Bellota-Italic.otf') format('opentype');
     font-weight: normal;
     font-style: italic;
}
@font-face {
     font-family: 'Bellota';
     src: url('../fonts/bellota/Bellota-Bold.otf') format('opentype');
     font-weight: bold;
     font-style: normal;
}
@font-face {
     font-family: 'Bellota';
     src: url('../fonts/bellota/Bellota-BoldItalic.otf') format('opentype');
     font-weight: bold;
     font-style: italic;
}

/*  Elements */
h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: .75em;
}

small {
  font-size: .65em;
}
