body {
  background-color: #FCFCFC;
  font-size: 18px;
  font-family: Bellota, sans-serif
}
a {
  color: #FCFCFC;
}
.static-anchor:before {
  display: block;
  content: " ";
  margin-top: -121px;
  height: 121px;
  visibility: hidden;
}
.navbar-header h1 {
  color: #4A4D70;
}
.main-text h1{
  color: #4A4D70;
}
a:hover {
  color: #B0AEA7;
  text-decoration: none;
}
.container-fluid {
  width: 100%;
}
.circle {
  border-radius: 50%;
}
.icon {
  width: 25px;
  height: 25px;
  font-size: 24px;
}
.line {
  border-color: #FCFCFC;
  border-width: 2px;
  width: 25%;
}
.center {
  margin: 0 auto;
  display:flex;
  justify-content:center;
  align-items:center;
}
.logo {
  border: solid 1px #4A4D70;
  margin: 1em;
  margin-left: 5em;
  width: 300px;
}
nav {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.nav-bar {
  border-bottom: .4em solid #4A4D70;
  background-color: #B0AEA7;
}
.navbar-fixed-top {
  margin-bottom: 0;
}
.nav-button {
  background-color: #B0AEA7;
  color: #4A4D70;
}
.nav-button:hover {
  background-color: #FCFCFC;
}
.main-text {
  margin-top: 10%;
  background-color: #FCFCFC;
  filter:alpha(opacity=80);
  opacity:0.80;
}
.name-text {
  background-color: #A7A8B0;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 2em;
  color: #FCFCFC;
}
.portfolio {
  color: #000000;
  margin-top: 2em;
  border-top: solid .75em #B0AEA7;
}
.portfolio h1 {
  color: #4A4D70;
}
.portfolio:nth-child(odd) {
  animation-delay:0.2s;
  -moz-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
}
.portfolio:nth-child(even) {
  animation-delay:0.2s;
  -moz-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
}
.port-img {
  margin-bottom: 1em;
}
.port-text {
  padding: 5% 0;
}
.port-text-child {
  padding: 5% 0;
}
.about {
  padding: 3em;
}
.footer {
  background-color: #4A4D70;
  border-top: solid .4em #B0AEA7;
  color: #FCFCFC;
  padding: 1em;
}
.contact-header {
  margin-bottom: .75em;
}
.contact-buttons {
  height: 70px;
  width: 60px;
  background-color: #A7A8B0;
}
