
/* Header */
.header__quote {

}

/* Navigation */
.menu__item--link:hover {
  background-color: #79DBDE;
  color: #505E5E;
}

/* Filters */
.filter-menu__button:hover {
  background-color: #79DBDE;
  color: #5DA9AB;
}

.filter-menu__button:active {
  background-color: #C0E2E3;
  color: #505E5E;
}

/* Item */
.item__detail--red-wine {
  color: DarkRed;
}

.item__detail--white-wine {
  color: LightGoldenrodYellow;
}

.item__detail--rose-wine {
  color: LightPink;
}

/*  Icons */
.item__details--icon-link:hover {
  text-decoration: none;
  font-size: 2em;
}
.item__details--icon-link--color:hover {
  color: #79DBDE;
  text-decoration: none;
  font-size: 2em;
}
.header__quote {
  animation-name: move-quote;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}


@keyframes move-quote {
  0% {
    opacity: 0;
    left: 1000px; 
    font-size: 10em;
    }
  100% {
    opacity: 1;
    left:0px;
    font-size: 1em;}
}

