$main-color: #FCFCFC

$main-text-color: black

$menu-background-color: #4A4D63
$menu-hover-color: #A7A8B0
$menu-text-color: #FCFCFC

body
  color: $main-text-color
  background-color: $main-color

h2
  color: $menu-background-color

nav
  background-color: $menu-background-color
  color: $menu-text-color
  li
    color: $menu-text-color
    a
      color: $menu-text-color
      &:hover
        background-color: $menu-hover-color
        color: $menu-background-color
footer
  background-color: $menu-background-color
  color: $menu-text-color
  a
    color: $menu-text-color
    text-decoration: none
    &:hover
      color: $menu-hover-color
