body
  padding: 0
  margin: 0
  font-family: ClearSans, sans-serif
  font-size: 16px

nav
  display: inline
  position:fixed
  width: 100%
  color: #fff
  top: 0
  left: 0
  height: 35px
  padding-top: 1em
  padding-bottom: 1em
  -webkit-box-shadow: 0px 0px 8px 0px #000000
  -moz-box-shadow: 0px 0px 8px 0px #000000
  box-shadow: 0px 0px 8px 0px #000000
  text-decoration: none
  text-align: center
  background-color: cadetblue
  color: rgba(1, 1, 1, 0.8)
  a
    font-size: 14px
    padding-left: 15px
    padding-right: 15px
    color: white
    text-decoration: none
  a:hover
    color: gray

.left-nav
  display: block
  li
    display: block
    a
      display: block

#column1
  margin-top: 3.5em
  width: 15%
  float: left

#column2
  margin-top: 3.5em
  width: 65%
  float: left
  color: red

#column3
  margin-top: 3.5em
  width: 20%
  float: left

footer
  clear:both
  width:100%
