body
  padding: 0
  margin: 0
  font-family: ClearSans, sans-serif
  font-size: 16px

#column1
  margin-top: 4.2em
  width: 10%
  float: left

#column2
  margin-top: 4.2em
  width: 65%
  float: left
  h1
    margin-left: 12.5%

#column3
  margin: 4.2em 0 0 .5em
  border-left: solid 1px $menu-background-color
  padding-left: 1em
  width: 20%
  float: left

.column1--icons
  margin-top: .5em

footer
  clear:both
  width:100%
